.right-corner {
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  min-width: 500px;
  max-width: 600px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.buttons button {
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  color: gray;
}
